/AuthenticationException.class
/InvalidInputException.class
/HouseholdNotExist.class
/HouseholdAlreadyExistsException.class
/InvalidHouseholdDataException.class
/MemberNotFound.class
/MemberNotFoundException.class
/ServiceException.class
/InvalidDateRangeException.class
/ResidentNotFoundException.class
